---
import NavBarImage from '../assets/navBarLogo.png'
import { Image } from 'astro:assets'
---

<!--<div class="flex px-[4%] py-4 justify-between items-center">-->
<!--  <div class="text-xl leading-none">Northview Robotics</div>-->
<!--  <div class="flex items-center gap-6">-->
<!--    <div class="text-lg">Home</div>-->
<!--    <div class="text-lg">About us</div>-->
<!--    <div class="text-lg">Team resources</div>-->
<!--    <div class="text-lg">Community</div>-->
<!--    <div class="bg-[#101B64] text-white px-6 py-3 rounded-full">Sponsor us</div>-->
<!--  </div>-->
<!--</div>-->

<div class="box-border flex px-4 md:px-8 py-4 justify-between items-center  md:bg-white md:text-black overflow-x-hidden font-manrope">
  <Image src={NavBarImage} alt="Team 6632 website logo, phoenix icon" class="scale-90 md:scale-75 lg:scale-90 mt-1 mr-4 md:mr-1 lg:mr-4"/>
  <div class="font-medium text-xl leading-none">Northview Robotics</div>
  <div id="hamburger" class="hover:cursor-pointer ml-auto md:hidden">
    Hamburger
  </div>
  <div class="hidden md:flex items-center gap-3 lg:gap-6 ml-auto">
    <a href="/"><h5>Home</h5></a>
    <a class="whitespace-nowrap" href=""><h5>About us</h5></a>
    <a class="whitespace-nowrap" href=""><h5>Team Resources</h5></a>
    <a href=""><h5>Community</h5></a>
    <div class="px-6 py-3 flex items-center whitespace-nowrap bg-[#101864] text-white rounded-full">Sponsor us</div>
  </div>
</div>
<div class="md:hidden w-full py-2 bg-amber-500 hidden" id="navbar">
        <a href="/"><h5>Home</h5></a>
        <a href=""><h5>About us</h5></a>
        <a href=""><h5>Team Resources</h5></a>
        <a href=""><h5>Community<h5/></a>
</div>

<script src="../scripts/nav.js"/>
