---
    const { title } = Astro.props;
---

<div class="bg-[#101864] px-16 sm:px-32 md:px-56 lg:px-96 py-20 rounded-lg max-w-[70rem] text-white mx-auto fit-content mb-6 text-center">
  <h1 class="text-4xl">
    {title}
  </h1>
</div>
