---
import '../styles/globals.css';
import '../styles/post.css'
import Navbar from '../components/navbar.astro';
import Footer from '../components/footer.astro';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro</title>
    
    <script src="../scripts/router.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
    rel="stylesheet"
    />
</head>
<body class="box-border max-w-[1600px] mx-auto">
    <header>
        <Navbar />
    </header>
    <main class="px-8">
        <slot />
    </main>
    <footer>
        <Footer />
    </footer>
</body>
</html>
